<app-hamburgermenu></app-hamburgermenu>

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form class="form-horizontal" [formGroup]="regForm" (submit)="logForm()">
            <fieldset class="form-group border p-3">
                <legend class="text-center">
                    <h3>Enter your details</h3>
                </legend>           
                <div class="form-group mb-2">
                    <label for="salary" class="mb-1 form-label">
                        <h6 class="mb-0 text-sm">Salary</h6>
                    </label>
                    <input type="number" class="form-control" formControlName="salary" id="salary" [(ngModel)]="user_salary"
                        [ngClass]="{'is-invalid': frm['salary'].touched && frm['salary'].invalid}">
                    <div class="invalid-feedback">
                        <p *ngIf="regForm.get('salary')?.hasError('required')">Salary is required.</p>
                        <p *ngIf="regForm.get('salary')?.hasError('min')">Salary should be greater than {{minSalary}}.
                        </p>
                    </div>
                </div>
                
                <div class="form-group mb-2">
                    <label for="Tax" class="mb-1 form-label">
                        <h6 class="mb-0 text-sm">Tax per month</h6>
                    </label>
                    <input type="number" class="form-control" formControlName="Tax" id="Tax"
                        [ngClass]="{'is-invalid': frm['Tax'].touched && frm['Tax'].invalid}">
                    <div class="invalid-feedback">
                        <p *ngIf="regForm.get('Tax')?.hasError('required')">Tax is required.</p>
                        <p *ngIf="regForm.get('Tax')?.hasError('max')">Salary should be less than {{minSalary}}.</p>
                    </div>
                </div>

                <div class="form-group mb-2">
                    <label for="gender" class="mb-1">
                        <h6 class="mb-0 text-sm">Do you have an EMI</h6>
                    </label>
                    <div [ngClass]="{'is-invalid': frm['emioption'].touched && frm['emioption'].invalid}">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="emioption" id="emioption" value="yes"
                                [ngClass]="{'is-invalid': frm['emioption'].touched && frm['emioption'].invalid}">
                            <label class="form-check-label" for="emioption">
                                Yes
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="emioption" id="emioption" value="no"
                                [ngClass]="{'is-invalid': frm['emioption'].touched && frm['emioption'].invalid}">
                            <label class="form-check-label" for="emioption">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        <p>Please select an option.</p>
                    </div>
                </div>
                
                <div class="form-group mb-2" *ngIf="regForm.controls['emioption'].value === 'yes'">
                    <label for="Tax" class="mb-1 form-label">
                        <h6 class="mb-0 text-sm">EMI per month</h6>
                    </label>
                    <input type="number" class="form-control" formControlName="emi" id="emi"
                        [ngClass]="{'is-invalid': frm['emi'].touched && frm['emi'].invalid}">
                    <div class="invalid-feedback">
                        <p *ngIf="regForm.get('emi')?.hasError('required')">EMI is required.</p>
                    </div>
                </div>
          
                <div class="form-group mb-2">
                    <label for="Tax" class="mb-1 form-label">
                        <h6 class="mb-0 text-sm">No.of credit cards</h6>
                    </label>
                    <input type="number" class="form-control" formControlName="creditcards" id="creditcards"
                        [ngClass]="{'is-invalid': frm['creditcards'].touched && frm['creditcards'].invalid}">
                    <div class="invalid-feedback">
                        <p *ngIf="regForm.get('creditcards')?.hasError('required')">Please enter the no.of credit cards.</p>
                    </div>
                </div>
          
                <div class="form-group mb-2" *ngIf="regForm.controls['creditcards'].value >= 1 ">
                    <label for="Tax" class="mb-1 form-label">
                        <h6 class="mb-0 text-sm">No.of credit lineups</h6>
                    </label>
                    <input type="number" class="form-control" formControlName="lineups" id="lineups"
                        [ngClass]="{'is-invalid': frm['lineups'].touched && frm['lineups'].invalid}">
                    <div class="invalid-feedback">
                        <p *ngIf="regForm.get('lineups')?.hasError('required')">Please enter the no.of credit lineups you have .</p>
                    </div>
                </div>
          
                <div class="form-group mb-2" *ngIf="regForm.controls['lineups'].value >= 1 ">
                    <label for="Tax" class="mb-1 form-label">
                        <h6 class="mb-0 text-sm">Maximum lineup tenure</h6>
                    </label>
                    <input type="number" class="form-control" formControlName="tenure" id="tenure"
                        [ngClass]="{'is-invalid': frm['tenure'].touched && frm['tenure'].invalid}">
                    <div class="invalid-feedback">
                        <p *ngIf="regForm.get('tenure')?.hasError('required')">Please enter the max lineup tenure.</p>
                    </div>
                </div>
                <div class="form-group form-check mb-1">
                    <input class="form-check-input inp" type="checkbox" formControlName="acceptTerms" for="acceptTerms"
                        id="acceptTerms"
                        [ngClass]="{'is-invalid': frm['acceptTerms'].touched && frm['acceptTerms'].invalid}">
                    <label class="form-check-label inp" (click)="ShowMsg()">
                        Agree to the terms and conditions
                    </label>
                    <div class="invalid-feedback">
                        <p>You must agree before submitting.</p>
                    </div>

                </div>

                <div class="d-grid gap-2 mx-auto mt-3">
                    <button type="submit" class="btn btn-primary">Check Score</button>
                    <button type="reset" class="btn btn-secondary" (click)="reset()">Reset</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>