
    <header>
        <nav>
            <div class="container-fluid">
                <h1 style="font-family: Blacksword; font-size: 25px; color: whitesmoke">My Profile</h1>
                <ul style="color: white">
                    <li ><a class="foo"  routerLink="/dashboard">My Credentials</a> </li>
                    <li><a routerLink="/app-show-user-details">Personal Details</a></li>
                    <li><a  routerLink="/app-cibil-score1">My CibilScore</a> </li>
                    <li><a class="Logout" (click)="authService.SignOut()">Log Out <i
                                class="fas fa-sign-out-alt"></i></a> </li>
                </ul>
            </div>
        </nav>
    </header>
    <div >
        <!-- <app-dashboard></app-dashboard> -->
    </div>
